@media screen and (max-width: 1239px ){
    .postAbout-items,
    .conditions,
    .result,
    .questions,
    .feedback{
        padding-left: 15px;
        padding-right: 15px;
    }
    .header{
        padding: 25px 40px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .menu-items{
        column-gap: 25px;
    }
    .video{
        height: unset;
        width: 50%;
        aspect-ratio: 1 / 1;
    }
    .preAbout{
        padding-left: 91px;
        padding-top: 100px;
    }
    .about-title{
        margin-bottom: 5px;
    }
    .about-text{
        max-width: 808px;
        font-size: 15px;
    }
    .postAbout-item-info img{
        width: 100%;
        max-width: 550px;
    }
    .postAbout-item-title{
        margin-bottom: 5px;
    }
    .postAbout-item-title{
        font-size: 22px;
    }
    .postAbout-item-text{
        font-size: 14px;
    }
    .postAbout-item-info-1 {
        padding-top: 56px;
        padding-left: 105px;
    }
    .postAbout-item-info-1 .postAbout-item-text {
        max-width: 432px;
    }
    .postAbout-item-info-2 {
        padding-top: 73px;
        padding-left: 115px;
    }
    .postAbout-item-info-2 .postAbout-item-text {
        max-width: 388px;
    }
    .postAbout-item-info-3{
        padding-left: 83px;
    }
    .conditions-item > img{
        width: 320px;
    }
    .conditions-item-info img {
        width: 100%;
    }
    .conditions-describe img {
        width: 100%;
    }
    .conditions-item-title {
        font-size: 22px;
        margin-bottom: 0;
    }
    .conditions-item-text{
        font-size: 14px;
    }
    .conditions-item-info-1 {
        padding-top: 43px;
        padding-left: 35px;
    }
    .conditions-item-info-1 .conditions-item-text {
        max-width: 334px;
    }
    .conditions-item-info-2 {
        padding-top: 52px;
    }
    .conditions-item-info-3 {
        padding-top: 80px;
        padding-left: 37px;
    }
    .conditions-item-info-3 img{
        width: 327px;
        margin-top: 20px;
    }
    .conditions-item-info-3 .conditions-item-text {
        max-width: 234px;
    }
    .conditions-describe p {
        max-width: 754px;
        font-size: 18px;
    }
    .result-describe img{
        width: 100%;
    }
    .result-describe p{
        font-size: 18px;
    }
    .result-item-text {
        font-size: 14px;
    }
    .result-item-title {
        margin-bottom: 5px;
        font-size: 22px;
    }
    .result-item-info-1 {
        padding-top: 80px;
        padding-left: 27px;
    }
    .result-item-info-1 .result-item-text {
        max-width: 288px;
    }
    .result-item-info-2 {
        max-width: unset;
        width: 353px;
        padding-top: 72px;
        padding-left: 54px;
    }
    .result-item-info-2 .result-item-text {
        max-width: 278px;
    }
    .result-item-info-3 {
        margin-top: -60px;
        max-width: unset;
        width: 320px;
        padding-top: 85px;
        padding-left: 41px;
    }
    .result-item{
        width: 33%;
    }
    .result-item img{
        width: 100%;
    }
    .result-item-info-1 img{
        margin-top: 20px;
    }
    .result-item-info-2 img{
        margin-top: 25px;
    }
    .result-item-info-4 img{
        margin-top: 30px;
    }
    .result-item-info-4{
        padding-top: 45px;
    }
    .result-item-info-5 {
        padding-top: 15px;
    }
    .result-items-bottom {
        column-gap: 90px;
    }
    .speaker-name{
        margin-bottom: 5px;
    }
    .speaker img{
        width: 100%;
    }
    .speaker-text {
        font-size: 13px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 5px;
    }
    .speaker-1 .speaker-info {
        padding-top: 0px;
    }
    .more{
        padding-top: 54px;
    }
    .more > img{
        width: 100%;
    }
    .more-title{
        margin-bottom: 15px;
    }
    .howCreat{
        padding-left: 153px;
    }
    .howCreat > img{
        width: 100%;
    }
    .howWork{
        padding-left: 155px;
    }
    .howWork > img{
        width: 100%;
    }


    .buy{
        margin-left: 15px;
        margin-right: 15px;
    }
    .footer{
        margin-right: 15px;
        margin-left: 15px;
        padding: 27px 42px;
    }
    .line{
        margin-left: unset;
        width: 100%;
    }
    .conditions-item-info-2 .conditions-item-text {
        max-width: 334px;
    }
}
@media screen and (max-width: 1099px ){
    .preAbout{
        padding-top: 75px;
    }
    .postAbout-item-info-1 {
        padding-left: 80px;
    }
    .postAbout-item-info-2{
        padding-left: 83px;
    }
    .postAbout-item-info-3 {
        padding-left: 65px;
    }
    .conditions-item-info-2 .conditions-item-text {
        max-width: 334px;
    }
}

@media screen and (max-width: 1070px ){
    .conditions-item-info-2 .conditions-item-text {
        max-width: 308px;
    }
}